BasedOnStyle: Google
IndentWidth: 4              
ColumnLimit: 140             
PointerAlignment: Left 
AccessModifierOffset: -4
FixNamespaceComments: true
IndentPPDirectives: AfterHash 
AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
