[submodule "libs/WDL"]
	path = libs/WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "libs/opus"]
	path = libs/opus
	url = https://github.com/xiph/opus.git
[submodule "libs/libevent"]
	path = libs/libevent
	url = https://github.com/libevent/libevent.git
